.main-division{
    height: 100%;
    width: 100%;
    background-color: beige;
}

.top-box{
    height: 10vh;
    width: 100vw;
    background-color: rgba(248, 89, 53, 0.481);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 300px;
}
.input{
    width: 40vw;
    height: 3.2vh;
}


