.main-division{
    height: 100%;
    width: 100%;
    background-color: beige;
}
.top-box{
    height: 10vh;
    width: 100vw;
    background-color: rgba(221, 160, 221, 0.481);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 300px;
}
.input{
    width: 40vw;
    height: 3.2vh;
}
.bottom-box{
    height: 90vh;
    width: 100vw;
    background-color: rgba(152, 251, 152, 0.509);
}
.cart-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 8vw;
}

.card-container{
    width: calc(23.33% - 40px); 
  background-color: rgb(237, 81, 81);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #b2ebf2;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}